@import url('https://fonts.googleapis.com/css2?family=VT323&family=Jura:wght@400;600;700&display=swap');

:root {
    --color-error: #ff009d;

    --color-bkg: #0b1b0b;
    --color-bkg-lite: #1a4a1a;
    --color-console-green: #00ff00;
    
    --color-enemy: #ff8800;
}


*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Jura', 'VT323', "Lucida Console", "Courier New", monospace;
    color: var(--color-console-green);
}

html, body {
    height: 100%;
    background: var(--color-error);
}

header {
    background: var(--color-bkg-lite);
    color: var(--color-console-green);
    text-align: center;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: var(--color-bkg);
}

/*----- General -----*/
button {
    background: black;
    border: 1px solid var(--color-bkg-lite);
    box-shadow: inset 0px 0px 5px 0px var(--color-console-green);
}

button:hover {
    box-shadow: inset 0px 0px 5px 2px var(--color-console-green);
    transform: translate(-1px, -1px);
}


/*----- Game Screen -----*/
#info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/*----- Radar Icon -----*/
#radar {
    text-align: center;
    margin: 0 0 25px 0; 
}

#radar-svg-container {
    width: calc(100% - 50px);
    aspect-ratio: 1;
    margin: 25px;
}

#radar svg {
    width: 100%;
    height: 100%;
    display: block;
}

/*----- Time Track -----*/
#time-track {
    width: 100%;
}

#time-slots {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.slot {
    display: grid;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 1/2;
    width: 12.5%;
}

.slot > * {
    border: 1px solid var(--color-console-green);
}

.active-slot > .time-label {
    background: var(--color-bkg-lite);
}

.time-label {
    display:flex;
    align-items: center;
    justify-content: center;
    /* width:100%;
    height:100%; */
}

/*----- Enemy Info -----*/
.enemy {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.enemy > .enemy-header {
    display: grid;
    background: var(--color-bkg-lite);
    grid-template-columns: auto 1fr auto;
}

.enemy > .enemy-header > * {
    text-align: center;
    padding: 5px;
}

.enemy > .enemy-header .icon {
    color: black;
    padding: 2px;
    aspect-ratio: 1;
    background: var(--color-enemy);
    border-radius: 50%;
    border: 1px solid var(--color-enemy);

}

.enemy > .enemy-header .armor {
    border: 1px solid var(--color-console-green);
    background: var(--color-bkg);
    border-radius: 50%;
    padding: 2px;
}

.enemy > .controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.enemy .attack {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto auto auto auto;
    gap: 5px;
    padding: 5px 0px 5px 0px;
    border: 1px solid var(--color-bkg-lite);
    border-top-style: none;
    border-right-style: none;
}

.enemy .attack > .attribute {
    color: var(--color-enemy);
    font-style: italic;
}

.enemy .attack > .active {
    aspect-ratio: 1;
    border: 1px solid var(--color-console-green);
}

.enemy .attack:hover > .active {
    background: var(--color-bkg-lite);
}


/*----- Controls Screen ------*/
#controls-container {
    display: grid;
    grid-template-areas:
        "action action  action"
        "shl    stance  shr"
        "shl    torso   shr"
        ".      torso   ."
        "arl    .       arr"
        "arl    legs    arr"
        ".      legs    .";

    max-width: 400px;
    gap: 2px;
}

/*----- Templates -----*/
#templates {
    flex: 1;
    background: var(--color-bkg);
}

#templates-info-side {
    height: 100%;
}




/*----- Other -----*/
#errors {
    background: black;
}

.test-border {
    border: 1px solid var(--color-error);
}